[2015-06-25 10:39] tiborsimko opened #4 "marc21: 0247 overmatching"
There seem to be an overmatching happening with certain field/indicator combinations, such as starting with leading zero.

Consider the below-quoted Zenodo test input record that contains DOI field (`0247`) that is being translated in the output as both `other_standard_identifier` (which is good) but also as
`former_title` (which is bad).  The latter field is defined as:

[code]

Seems the leading

[2015-06-25 13:24] jirikuncar opened #6 "marc21: validate field names"

[2015-06-25 13:25] jirikuncar opened #7 "marc21: add field definitions for authority records"

[2015-06-25 13:26] jirikuncar opened #8 "docs: auto-generate API documentation"
- [x] auto-generate API documentation
- [x] enable ReadTheDocs hook
- [x] improve README.rst

[2015-06-25 13:30] jirikuncar opened #9 "tests: ESMRE is not Python 3+ compatible"
[code]

[2015-06-25 13:44] #4 closed

[2015-06-25 13:55] tiborsimko commented on #7
After refactoring of `dojson/contrib/marc21/fields/` to `bd3xx.py` and friends, we need to find a name and a place for [MARC Authority](http://www.loc.gov/marc/authority/ad4xx.html).  For example:
- Option 1: the definitions could perhaps even live in the same place (`ad4xx.py` vs `bd4xx.py`) as they are distinguished by the leading "ad" or "bd" namespace.  Although we'd need to distinguish betwee

[2015-06-25 13:58] tiborsimko commented on #6
@aw-bib Can you please look at files like:
- https://github.com/inveniosoftware/dojson/blob/master/dojson/contrib/marc21/fields/bd4xx.py

in this place:
- https://github.com/inveniosoftware/dojson/tree/master/dojson/contrib/marc21/fields

to see if the descriptive MARC field/subfield names (such as `date_of_a_work`) look generally OK?

(They were basically taken literally from [MARC Bibilographic]

[2015-06-29 11:30] #8 closed

[2015-06-29 15:32] jirikuncar opened #16 "marc21: support for repeatable subfields"

[2015-06-30 10:39] tiborsimko commented on #16
Closed by PR #17.

[2015-06-30 10:39] #16 closed

[2015-07-01 07:06] aw-bib opened #19 "RFC: handling of indicators in Marc21"
If I understand it correctly, the Marc21 format allows for arbitrary indicators, addressing the usecases mentioned by @fjorba. This seems a definite improvement compared to Invenio 1.x.

For illustrative purposes I'll just use Marc `100` below, however, Marc has several fields where these issues apply as well.

If I understood the schema correctly, however, each marc field gets mapped to a JSON in

[2015-07-01 08:23] jirikuncar commented on #19
@aw-bib it's possible to create specialized parsers based on the indicator values:

**Example for `1001_`:**

[code]

[2015-07-01 11:13] fjorba commented on #19
Thank you, @aw-bib, for raising those issues.

My opinion is that, as our databases are feeded with sources of various qualities, processing should be tolerant and intellingent creating useful indexes out of messy data, but respectful with the records themselves, because some of them are manually curated and of high quality.

Thus, answering first your second question, yes, we need to know, @jirik

[2015-07-01 11:38] aw-bib commented on #19
@jirikuncar

Understood that. @martinkoehler has some concerns here, that if some instance does this and another does not we get Marc in two distinct flavours but also with two different _internal data models_. So records may be hardly interchangeable. And/or if you later on find that you should do it that way for whatever reason you touch the internal data representation. This sounds like a migra

[2015-07-01 16:07] tiborsimko commented on #19
**1.** WRT search, this is instance dependent.  E.g. there is a canonical example in INSPIRE where there are two persons, "DENIS, Bernard" and "BERNARD, Denis" that we don't want to mis-match when people search for authors.  This is achieved currently by the special author name value tokeniser.  In  Elasticsearch, this will be achieved by customisable analysers.  IOW, each installation would be ab

[2015-07-01 17:43] aw-bib commented on #19
So it is more like this (I did not get this clear till now):
- There is some master format defined for the installation. This could be anything.
- The master format is stored "as is".
- No procedures run on the master format directly.
- The master format is transformed by `doJSON` to an internal JSON structure as soon as a record gets ingested or edited. _This_ is the point where `doJSON` needs it

[2015-07-02 08:13] tiborsimko commented on #19
@aw-bib Mostly yes, but not all statements are always true.  Depends on an installation.  Let me address just one example of yours.  E.g. the new deposit module creates JSON internally, so (1) if a site decides to store it like that, then the "master format" for deposited records would be JSON, strictly speaking.  (There was no MARC created by the submitter, no MARC coming up on the input end.) In

[2015-07-03 06:14] aw-bib commented on #19
I understood, and just did not make this explicit, that indeed the internal JSON can coincide with the master format. Probably something what most devs would prefer.

Of course. So my feeling is, that if you e.g. have to handle a libraries catalogue or some instance where you get a bunch of external data in Marc (e.g. for ebook packages and whatnot) and need to exchange with Marc in both direction

[2015-07-06 06:12] fjorba commented on #19
Thanks, @tiborsimko, for making it clear that Marc21 can be the master format for an Invenio instance.

One thing that I'm afraid that those enthusiasts for the-new-bib-format-that-yesterday-somebody-talked-about is that there is a huge work for implementing mappings.  The syntactic on-to-one equivalence is already large, but mechanical.  But the real mismatch happens at the semantic level.  Even

[2015-07-06 06:58] tiborsimko commented on #19
The complete mapping of MARC21 to JSON is provided by this very DoJSON package.  What we did is, basically, that we took [LoC MARC standard](http://www.loc.gov/marc/bibliographic/) and used those exact field/subfield names as they appear in the standard, together with indicator values and repeatable/non-repeatable flags, in order to create our JSON.  Hence the result should be very library friendl

[2015-07-06 07:35] fjorba commented on #19
Ok, now I see!  So when you, Invenio developers, talk abut JSON, do you just mean Marc21 in JSON syntax in a 1:1 equivalence (and with long verbose English expression to substitute the terse Marc21 tag numbers and subfields)?

(I'm glad to see that even specialised tags, like music incipit fields and subfields do appear in your package, like https://github.com/inveniosoftware/dojson/blob/master/do

[2015-07-06 08:52] tiborsimko commented on #19
Generally speaking, we talk about JSON representation of a record in broad terms, but always representing record's "master format" faithfully. (1) E.g. if an installation chooses EAD as their one and only master format, then they can write EAD-to-JSON mapping and they are done; they don't have to pass through MARC21 conversion anywhere anymore in order to profit from some features of the system, a

[2015-07-06 09:41] fjorba commented on #19
Great, thanks again for your patience and long explanation.

[2015-07-06 10:17] fjorba opened #21 "marc21: add field definitions for holdings records"
Please add holding fields as well: http://www.loc.gov/marc/holdings/.  In brief, they describe either the physical location and conditions of the documents, and the holdings of the periodicals (which issues do we have of a journal).

[2015-07-06 16:50] Kennethhole opened #22 "Marc21 indicators: Check allowed indicators to become compliant with LOC"
Hi,
I recognized that the allowed indicators for 245 is not correct.
https://github.com/inveniosoftware/dojson/blob/master/dojson/contrib/marc21/fields/bd20x24x.py#L186
Here, the second indicator should allow character 0,1,2,3,4,5,6,7,8,9.
http://www.loc.gov/marc/bibliographic/bd245.html

I believe the automatic extraction of which indicators that are allowed has failed due to the use of "1-9".
If

[2015-07-07 08:01] tiborsimko opened #23 "marc21: 100 $a R vs NR"
We seem to have a problem with repetitive (=R) vs non-repetitive (=NR) subfields.

Consider the following MARC21 record:

[code]

It is converted into:

[code]

Note that `personal_name` is a list (so R), while [MARC21 standard](http://www.loc.gov/marc/bibliographic/bd100.html) says that it is `100 $a - Personal name (NR)`, hence not a list.

[2015-07-07 08:24] fjorba commented on #23
Do you really think that the internal implementation syntax should make a distintion about repetitive and non repetitive fields?  Why don't you just consider them all them repetitive, thus lists?  Internal representation would be radically simplified.  And, if somebody is interested in doing a strict check about the repetitive fields or not, it can be done externally.

It reminds me the indicators

[2015-07-07 09:24] fjorba commented on #22
I have been asking for years (literally) that Invenio should accept any indicator as valid (see #19, for example, or https://github.com/inveniosoftware/invenio/issues/1722).  I'm also asking that Invenio should accept to repeat fields or subfields (see #23).  I thought that we reached an agreement about it already (not so about  repetitive vs non-repetitive fields, still open).

I won't repeat my

[2015-07-08 04:59] aw-bib commented on #23
I thend to agree with @fjorba. If all subfields are treated repeatable nothing breaks as just one value is still valid.

There is, however, one point to be kept in mind. If one has deposit base submissions (or a bibedit, that enforces the rule), such a wrongly repeatable field might die silently in the deposit functions. Thus,probaply a checker for such issues could be helpful.

@martinkoehler any

[2015-07-08 06:00] martinkoehler commented on #23
I agree with @fjorba and @aw-bib. Especially since I could imagine that a NR field might be changed to  R. If this is fixed in the data format this would be a disadvantage.
In other argument in favor to treating all subfields as R in the _datamodel_ is the marcxml representation. As far as I can see the schema http://www.loc.gov/standards/marcxml/xml/spy/spy.html does not specify R or NR.
This is

[2015-07-08 06:46] fjorba commented on #22
Another argument is that Marc21 allows 9 as a local valid indicator, for any indicator, for any tag.

[2015-07-08 06:53] fjorba opened #24 "Allow local fields, subfields and indicators"
Marc21 makes room for a local installation to define its own local field with the convention that they contain a 9, either as a tag (typically 9XX tags, but also like 59X), indicators or subfields.

Invenio should make it easy to follow this convention without resorting to tortuous modifications of internal syntax rules.

[2015-07-09 11:10] tiborsimko commented on #23
Thesis: I fully agree that it is advantageous in many use cases to be very liberal and to accept any field and any subfield as repetitive. This is roughly what we did for the CERN Open Data project.  It was very handy especially for custom fields, about which it was not known in advance whether they will be repeatable or not, and that were changing a lot until we settled on the data model. Basical

[2015-07-09 11:25] tiborsimko commented on #24
Yes, this will be possible by composing various JSON schemas together, see [my reply in another issue](https://github.com/inveniosoftware/dojson/issues/23#issuecomment-119913487).  For a concrete example, @egabancho is working on defining the JSON schemas for CDS records.  These have many local fields and subfields defined.  @egabancho can you please post here a small example if you already have o

[2015-07-09 11:36] egabancho commented on #24
There are many ways that you can do it **already**, this is how I am do it for CDS so far (keep in mind this is work in progress).

First I define my own "model" (in my case it contains all the marc21 rules by default)

[code]

And then I add new fields to it

[code]

This is also somehow related with https://github.com/inveniosoftware/invenio-records/pull/3, it allows to use different processors,

[2015-07-09 15:40] #24 closed

[2015-07-09 16:36] aw-bib commented on #23
I perfectly agree on this point.

It is generally disadvantageous in the case of interactive cataloguing. I also agree, that we had in fact to write a lot of (way too much) code to get `websubmit` at join2 to a stage where we can almost rule out that the user keys in something wrong. I'd love to drop all this code. Of course every _unwritten_ line of code is a _good_ line. (It can't be wrong :) I

[2015-07-10 05:36] fjorba commented on #23
I agree with @aw-bib.  I was also specially concerned by batch loading from less than perfect sources, being OAI, Excel spreadsheets, homegrown databases or whatever.  Error messages may get lost in a forest of log messages that not everybody has access.  A syntactically incorrect record already in the database is accessible for a much larger group of persons.

In our workflows, it is far better t

[2015-07-10 05:52] martinkoehler commented on #23
Having had a closer look at the dojson code I think I understood a litte bit more.
The definition of the internal format contains the semantic rules (which - as is written above by @tiborsimko enforces these rules on a deep level).

While I perfectly agree that every instance should enforcing as much of these rules as possible, I have some points of which I hope they can be clarified:

First: If I

[2015-07-10 06:02] aw-bib commented on #23
This sounds a reasonable approach. Even tagging for some sort of _revision list_ (aka holding pen collection) sounds reasonable.

Still, I think, for manual curations/ingestions, be it in `bibedit` or `deposit`, we really want strict schema, right? So the curator, once she has the time to clean up the mess we got in the first place should get a helpful hand by the schema.

E.g. while I was playing

[2015-07-10 07:54] tiborsimko commented on #23
Replying to @aw-bib's https://github.com/inveniosoftware/dojson/issues/23#issuecomment-120062493:

The record upload would be refused and the client (e.g. interactive editor, e.g. programmatic workflow) would be informed about this exception.  Then it depends on how the exception is handled by the client: e.g. interactive editor can show the error, e.g. automated upload process can refuse the reco

[2015-07-10 08:13] tiborsimko commented on #23
Replying to @fjorba's https://github.com/inveniosoftware/dojson/issues/23#issuecomment-120234040:

What I care about is to offer tools so that every Invenio installation can _easily_ configure their data model in a way that would match their particular use case and particular workflows and cataloguing habits. If you want to accept any MARC with any repeatable fields and subfields, there is absolut

[2015-07-10 08:25] tiborsimko commented on #23
Replying to @martinkoehler's https://github.com/inveniosoftware/dojson/issues/23#issuecomment-120237223

Yes, one would have to migrate the data if one switches from a "MARC21 Update 19" schema to a "MARC21 Update 20" schema where R vs NR status for some subfields changed.  In practice, are libraries switching often between these various MARC updates?

Yes, this was precisely why we selected a mor

[2015-07-10 08:38] tiborsimko commented on #23
Replying to @aw-bib's https://github.com/inveniosoftware/dojson/issues/23#issuecomment-120238316

Yes, more complex checks are the domain of the "BibCheck" style checker module.  The schema-based checks are run always, use generally available libraries, and aim at getting the basic semantics right.  The checker-based checks are usually run _a posteriori_, use our own custom code, and aim at gettin

[2015-07-10 08:40] kaplun commented on #23
Replying to @tiborsimko's https://github.com/inveniosoftware/dojson/issues/23#issuecomment-120293127

In fact I believe upgrading records to respect updates in schema is going to be a recurrent task. For that we will need to have a place and a pattern to create "record upgrade recipes" (and it should be able to replay this upgrades also when recovering a record from a previous outdated version. I

[2015-07-10 08:55] fjorba commented on #23
Replying to @tiborsimko's

My understanding, for what I can see from my library colleagues, is more a matter of conventions.  For example, an easy example from the page that @martinkoehler mentioned (http://www.loc.gov/marc/bibbas99.html), whether $u in 856 changes from repeteable to not.  Probably it means that after some practice, there is a consenus that is better to repeat the whole 856 tag, s

[2015-07-10 09:41] tiborsimko commented on #23
(Yes, that's why we aim at having schema version numbers from the get go.  In theory, one could imagine a co-existence situation where some of the records of the Books collection would follow `cds-book-0.8.json` schema and some `cds-book-0.9.json` schema for longer times, with OAIS/DIP store taking care of display formats etc -- but in practice it is much more practical to have collections and "do

[2015-07-10 09:59] kaplun commented on #23
:+1: !

[2015-07-10 10:12] fjorba commented on #23
In my longish experience, I have seen quite a few migrations, among several Marc formats (ISISmarc, ISDSmarc, Ukmarc, Catmarc, USMarc, Marc21) and library vendors particularities.  Maybe only half of them can be changed automatically.  The others need manual library inspection and correction, because what it changes is the criterium, not a mechanical search-and-replace change.

Again, if they are

[2015-07-10 10:53] kaplun commented on #23
@fjorba you have to think that the upgrade and changes in the data model are not going to be pushed by the Invenio team, but they are going to be totally under your control (the librarian control). It's up to you to decide how to evolve the data model in your instance and provide suitable upgrade scripts. But sure, if an upgrade implies some further restriction in the data model, it will probably

[2015-07-10 11:44] tiborsimko commented on #23
@fjorba Also, one could consider that the format conversion from ISISmarc to Marc21 is an important job after an important decision, while the typical local format migrations would be supposedly less dramatic, a kind of organic evolution of the original schema.  (Say a site decides to move from book-0.8 to book-0.9 because of newly added field control vocabulary value.)  As @kaplun mentioned, the

[2015-07-10 12:12] fjorba commented on #23
Yes, thank you!

(I think that there are too many computer people and too few librarians deciding on what to expect for a digital library software like Invenio.)

[2015-07-10 13:22] tiborsimko commented on #23
Nah, the computer people wouldn't bother implementing MARC21 LoC standard with its plethora of R and NR rules _at all_ in the first place :smile: We listen to all kinds of usage scenarios, that's all.  Just ask @Kennethhole about the level of MARC21 standard compliance that some installations need...

[2015-07-10 13:35] tiborsimko commented on #22
Is that so?  If yes, then one could override the meaning of 24519 which has otherwise fixed meaning of "nine nonfiling characters" according to [MARC21 field 245 documentation](http://www.loc.gov/marc/bibliographic/bd245.html).  Wouldn't overriding this mean to go against the standard?

Anyway, this is all about setting appropriate values in expressions like:

[code]

The first line should have ba

[2015-07-10 14:33] aw-bib commented on #23
I think the main point here is, that one can indeed have a strict schema along with a liberal one on the same system. I believe that this addresses and solves most points, together with @fjorba's point of having a liberal schema along with the strict standard.

As @fjorba and @martinkoehler I'm not that sure that the migration between schemata is so easy as @tiborsimko suggests. Mostly, as @fjorba

[2015-07-10 14:34] aw-bib commented on #21
There was a recent discussion in the context of `bibcirculation` 2.x on a preliminary set of fields to use.

[2015-07-10 16:25] tiborsimko commented on #23
Me too :smile: and with everything being indexed in Elasticsearch, it opens new exciting possibilities about easy discovery of information coming from even very heterogeneous sources.  (Invenio `master` branch already shows this in action.)

We have indeed been looking at supporting [MARC21 LoC](http://www.loc.gov/marc/bibliographic/) only. Concerning RDA and other conventions on top of MARC21, on

[2015-07-13 12:59] #22 closed

[2015-07-13 12:59] #23 closed

[2015-07-13 16:31] tiborsimko opened #26 "marc21liberal: create very liberal MARC21 schema"
Following the discussion in https://github.com/inveniosoftware/dojson/issues/23, it is interesting to create a new, very liberal MARC21 schema, where all the fields and subfields would be repeatable, all the indicator values allowed, etc.  We may call it `marc21liberal` or some such.

[2015-07-16 08:32] jirikuncar opened #27 "marc21: generate "undo" functions"
- [x] generate "undo" function for *json2marc21*
- [x] shall we generate it in the same files or new one?
  - pros: easier to maintain
  - cons: large files, slower loading

--
cc @tiborsimko @jmartinm

[2015-07-16 08:45] jmartinm commented on #27
For an example of how it would look like in one file, see the [INSPIRE repo](https://github.com/inspirehep/inspire-next/tree/master-elasticsearch/inspire/dojson/hep/fields)

For us, having it into one file for easier maintenance seems to make sense.

[2015-07-30 14:00] egabancho commented on #26
Maybe a nice solution to make liberal MARC21 less liberal could be using something like #29

[2015-10-09 09:15] aw-bib commented on #21
@mvesper I think this issue is the missing link from our discussion on invenio-circulation. Bascially, you json schema should just use these guys (cf. our discussions with @agentilb and  @tbasaglia)

cc @tiborsimko

[2015-10-09 09:31] aw-bib opened #35 "RFC: Adding marc tags to field descriptions"
Currently, the schema for Marc21 contain the "human readable marc tag". E.g. ""title_statement" gives

    "description": "Title Statement"

It would be helpful if we could also hold the numeric tag, ie. `245`.

* This serves as sort of a unique identifier
* It helps inline documentation
* It is easy to construct a lookup url form that (e.g. http://www.loc.gov/marc/bibliographic/bd245.html), that

[2015-10-09 14:10] fjorba commented on #35
Yes, please!  I wholeheartedly agree whole with @aw-bib.

[2015-10-10 10:57] egabancho commented on #21
@jirikuncar Should this be moved to [invenio-circulation](https://github.com/inveniosoftware/invenio-circulation)?

[2015-10-10 11:48] fjorba commented on #21
There is a reason for moving it to invenio-circulation for describing items, but only for tags describing items (like 852), but do not forget that those records also describe journals and periodicals (mainly 866).  The requisites of both type of tags are quite different.

Also probably the sites have different needs.  For example, at UAB, we do have lots of 866 holding records at DDD, because we l

[2015-10-11 10:04] aw-bib commented on #21
@egabancho / @jirikuncar I placed it here as @mvesper was not aware of the fact that his work is actually related to `doJSON()`. @mvesper has already some stuff but it should end up here in the holdings block.

[2015-10-11 10:12] aw-bib commented on #21
@fjorba you do not have to use circulation for the items. Basically, can treat them as _reference_ so those are not for loan. OTOH would make some sense that stuff you have _can_ show up on the upcoming holdings tab, right? (Similar for the articles linked to a journal.) Whether you display that one is again another story.

What we are heading for in the discussions with @agentilb and @tbasaglia i

[2015-10-11 21:01] jirikuncar commented on #35
The above proposal mixes "data" and "schema". I would propose to extend JSONSchema to contain information about original MARC tag and subfield.

[2015-10-11 21:05] jirikuncar commented on #21
Thanks to #33 (@egabancho) it's possible to easily extend `dojson.contrib.marc21` with additional rules. Hence we should close the discussion here and move it to `invenio-circulation` as proposed in https://github.com/inveniosoftware/dojson/issues/21#issuecomment-147073952.

[2015-10-12 05:18] aw-bib commented on #21
I think, however, that Marc Holdings structure should be integral part of the marc21 schema.

[2015-10-13 08:26] jirikuncar commented on #21
@aw-bib we can have a sprint on extracting information from http://www.loc.gov/marc/holdings/ using https://github.com/jirikuncar/marc-json-schema/tree/generator.

[2015-10-27 09:32] Kennethhole opened #39 "RFC: Respecting the order of MARC subfields"
As a follow up to the RFC about handling of indicators https://github.com/inveniosoftware/dojson/issues/19, I would like to raise my concerns about the order of subfields. The order of subfields are important for libraries and should be taken into consideration in the MARC-JSON mapping. A very simple example is an item that has been published by two publishers in two different locations. By follow

[2015-10-28 15:59] tiborsimko commented on #39
Here are some thoughts:
- In your example, the existing subfields are "ababc", which is not too bad.  If there is the same number of a's and b's, then you know which "a" is paired with which "b".  I guess this may be the majority of records? If so, we are good.
- The worst case scenario is a situation where subfields look like "aaba" and "abaa".  Currently, Invenio would not be able to tell the di

[2015-10-29 20:45] Kennethhole commented on #39
I don`t have any statistic on how often it occur, but when subfields are allowed to be repetitive, this might be the case.

Our simple example could be two publishers in one location:

[code]

More advanced examples comes when you look at the title. In the first row, you have "anpbnp" while in the second row you have "annp".

[code]

[code]

These example is taken from http://www.loc.gov/marc/bibl

[2015-11-09 16:18] jirikuncar opened #42 "installation: support for Python 3.3+"
Fix issue with incompatible dependency `esmre`.

[2015-11-12 14:15] jirikuncar opened #43 "cli: `identity` command for checking "undo""

[2015-11-16 20:57] jirikuncar opened #46 "marc21: stream parser for split_blob and create_record"

[2015-11-16 21:56] kaplun commented on #46
#45 implements a regexp-based good enough parser with speed comparable with lxml. It is not as robust as an XML-parser implementation but doesn't mangle the content of the blob in any way.

[2015-11-18 09:12] #46 closed

[2015-11-18 09:13] egabancho commented on #27
shall we closed this issue? I think it was done here 562bd423a60ee8adafb8b16549fcf4a13bab46d7 by @Theer108

[2015-11-18 09:20] jirikuncar commented on #27
closed via 562bd423a60ee8adafb8b16549fcf4a13bab46d7

[2015-11-18 09:20] #27 closed

[2015-11-25 08:56] greut opened #51 "contrib: dojson drop unknown fields"
In #50, a test fails because a `subfield` is not part of the spec.

### the faulty record
[code]

### the test
[code]

The [spec](http://www.loc.gov/marc/bibliographic/bd085.html) says nothing about a `$9` subfield. But should it remove it nonetheless?

[2015-11-25 09:08] jirikuncar commented on #51
@greut you probably want "very liberal MARC" see https://github.com/inveniosoftware/dojson/issues/26

[2015-11-25 10:41] greut commented on #39
First try...

https://github.com/inveniosoftware/dojson/compare/master...greut:xml

[2015-12-08 12:34] egabancho commented on #51
@greut I don't think we should remove unknown fields, actually this means that the translation for your data model is incomplete, therefore your tests should fail.

I think the question here is whether or not the liberal MARC21 implementation should add to the output JSON all the unknown fields. IMHO it should.

Just a side note, AFAIK the subfield `$9` is used as a custom subfield, like `9xx` or

[2015-12-08 16:31] greut commented on #51
Thanks @egabancho, lemme invoke the MARC lord @blixhavn. The silent removal looks like a way to be in trouble.

[2015-12-17 14:36] tiborsimko commented on #51
Similarly to @egabancho I think the test should fail in this case (and not drop the field silently), because the input record is not compatible with the desired schema.

There are basically two solutions: either (1) stick to standard MARC that does not seem to allow `$9` in that field(?), or (2) amend wanted schema to allow the presence of `$9`, going towards as "liberal" MARC schema as the given

[2015-12-17 15:23] greut commented on #51
@tiborsimko how easy could be to amend/edit the schema for a particular purposes. E.g. the `9xx` fields that are used internally by invenio.

If you provide a liberal MARC, people will use this one because loosing data is bit of a no-go.

[2015-12-17 15:50] tiborsimko commented on #51
The best example for 9xx so far is @egabancho's customisations for CERN-specific 9xx fields. I fully agree with you that loosing data is not acceptable, hence we should return an error, not silently ignore those "extra" fields.  The error will hopefully prompt the site admins to amend the local schema rules to fit local cataloguing practices... or else switch to a liberal schema iike #26 that is v

[2015-12-17 17:59] jirikuncar commented on #42
Closed via #57.

[2015-12-17 17:59] #42 closed

[2015-12-18 09:32] #51 closed

[2015-12-21 08:20] greut commented on #39
Handled by #55.

[2016-01-18 12:15] jirikuncar commented on #9
Closed via #57.

[2016-01-18 12:15] #9 closed

[2016-01-28 14:18] #7 closed

[2016-01-28 14:18] #21 closed

[2016-01-28 15:50] jirikuncar commented on #43
[code]

[2016-01-29 14:57] egabancho commented on #43
:+1:

[2016-01-29 14:57] #43 closed

[2016-02-01 14:16] tiborsimko commented on #6
Closing the issue due to inactivity.  Note that DoJSON 1.0 was already released. @aw-bib @fjorba @Kennethhole If you spot any problem with extracted field names, please just restart a new issue.

[2016-02-01 14:16] #6 closed

[2016-02-01 14:20] tiborsimko commented on #39
@Kennethhole @greut Can we close this issue now that #55 (in its #69 incantation) was merged?

[2016-02-01 14:31] jirikuncar commented on #39
@Kennethhole @tiborsimko we need more data to improve test coverage.

[2016-02-01 15:31] jirikuncar opened #73 "RFC Enhancing data with $schema"
- base URL
- `Overdo.do` should/can add relative `$schema`
- add possibility to specify extra arguments on CLI for load/do/dump

--
cc @SamiHiltunen @hachreak @egabancho

[2016-02-01 16:46] hachreak commented on #73
For the extra arguments: before, I was wondering if we can do something like:

[code]

In this way we can add all options we want.
Is it possible to do like a "subgroup" with `Click`?

[2016-02-01 20:08] jirikuncar commented on #73
@hachreak it isn't about the arguments for rules but about the extra args for `dump`.

[2016-02-03 13:36] Kennethhole commented on #39
Is this suffiecient for ordered fields?

[code]

[2016-02-03 13:50] jirikuncar commented on #39
@Kennethhole you can check which fields are not tested on coveralls.io:
- Latest build: https://coveralls.io/builds/4943024
- Bibliographic fields with worst coverage:
  - https://coveralls.io/builds/4943024/source?filename=dojson%2Fcontrib%2Fmarc21%2Ffields%2Fbd76x78x.py
  - https://coveralls.io/builds/4943024/source?filename=dojson%2Fcontrib%2Fmarc21%2Ffields%2Fbd4xx.py
  - https://coveralls.io/

[2016-02-03 18:08] Kennethhole commented on #39
Data for 76x-78x. Please test it out before I continue.

[code]

[2016-02-04 07:46] jirikuncar commented on #39
@Kennethhole `77501` is not valid. See https://www.loc.gov/marc/bibliographic/bd775.html

[2016-02-04 07:48] Kennethhole commented on #39
I see it.

[code]

[2016-02-09 08:14] #73 closed

[2016-02-11 10:04] jirikuncar opened #77 "schemas: update JSON-Schemas enums"
Check that all enums have correct value after fixing rules.

Example:
- https://github.com/inveniosoftware/dojson/blob/master/dojson/contrib/marc21/fields/bd20x24x.py#L212-L227
- https://github.com/inveniosoftware/dojson/blob/master/dojson/contrib/marc21/schemas/bd20x24x.json#L278-L280

### Proposal

Add tests to verify not only the "identity" of MARC21 and TO_MARC21 but also validate against JSON

[2016-02-15 09:14] switowski opened #78 "Add more data to test doJSON"
Get MARCXML data from CDS and Zenodo.

[2016-02-15 09:15] switowski opened #79 "dojson: test all fields"
Make sure all the fields are tested. This can be split between many people.
Checked fields:
- [ ] bd00x.py
- [ ] bd01x09x.py
- [ ] bd1xx.py
- [ ] bd20x24x.py
- [ ] bd25x28x.py
- [ ] bd3xx.py
- [ ] bd4xx.py
- [ ] bd5xx.py
- [ ] bd6xx.py
- [ ] bd70x75x.py
- [ ] bd76x78x.py - @SamiHiltunen
- [ ] bd80x83x.py
- [ ] bd84188x.py

... (TODO: Check the file names and finish the list)

[2016-02-15 09:16] lnielsen commented on #78
Here's the Zenodo demo record: https://github.com/zenodo/zenodo/blob/production/zenodo/base/testsuite/test_jsonext.py#L31-L206

[2016-02-15 13:14] switowski opened #80 "Create demosite with Records and Search modules"
Should we reuse invenio-demosite package ?
What would be the easiest way to have 'easy to install' demosite package ?

[2016-02-15 13:23] switowski commented on #78
CDS data will be used for identity checks

[2016-02-15 13:45] SamiHiltunen commented on #78
I've included the record linked by @lnielsen as part of #76.

[2016-02-15 16:56] switowski commented on #78
Here are a couple of records from CDS.
They need to be cleaned first (there are probably some CDS-specific tags that we don't need to keep in the demo/test data).
@egabancho , @ludmilamarian - I took some random public records from few collections like Published Articles, Preprints, Theses, Reports, CERN Notes, Books, etc. Is there any reason why we shouldn't use those records as test/demo data (I

[2016-02-15 19:10] SamiHiltunen commented on #78
Continuing @switowski's concerns about the copyright: @tiborsimko @Kennethhole are the examples provided in #39 by @Kennethhole okay to include as test data from a copyright perspective?

[2016-02-16 07:52] egabancho commented on #78
@switowski I think in general  anything with `690C_a:CERN` should be a good candidate for the test, these records should be (almost) MARC21 compliant.
WRT copyrights, they are public records, I don't see any reason why we shouldn't use then as tests.

[2016-02-16 13:25] switowski commented on #78
@SamiHiltunen I will create a demo file with CDS records in a separate PR and start cleaning the data.

[2016-02-16 14:24] SamiHiltunen commented on #78
@Kennethhole and everyone else, if you can find data for these fields, that would be great.

Data needed for following fields:

**bd00x.py**:
- [x] 003

**bd01x09x.py**:
- [ ] 013
- [ ] 015
- [ ] 016
- [ ] 017
- [ ] 018
- [x] 025
- [ ] 026
- [ ] 027
- [ ] 028
- [x] 030
- [ ] 031
- [ ] 032
- [ ] 033
- [ ] 034
- [x] 036
- [x] 037
- [ ] 038
- [x] 041
- [ ] 042
- [ ] 044
- [x] 045
- [ ] 046
- [ ] 047

[2016-02-16 14:42] switowski commented on #78
@SamiHiltunen I will put here which tags are in CDS file:
@Kennethhole and everyone else, if you can find data for these fields, that would be great.

Data needed for following fields:

**bd00x.py**:
- [ ] 003

**bd01x09x.py**:
- [ ] 013
- [ ] 015
- [ ] 016
- [ ] 017
- [ ] 018
- [ ] 025
- [ ] 026
- [ ] 027
- [ ] 028
- [ ] 030
- [ ] 031
- [ ] 032
- [ ] 033
- [ ] 034
- [ ] 036
- [ ] 037
- [ ] 038
-

[2016-02-17 08:06] switowski commented on #78
Let's split the scrapping tags from CDS:
me: 003-270, 600 - end
@hachreak : 306-588

[2016-02-17 20:15] Kennethhole commented on #78
Hi,
No problem with copyright. They are all public available.

@switowski did you guys need examples or did you split the job with @hachreak ?

[2016-02-18 08:19] switowski commented on #78
On the list from @SamiHiltunen, I have checked the fields that are included in CDS demo data (https://github.com/inveniosoftware/dojson/pull/81). @Kennethhole, if you have examples of tags that are still missing we could definitely use them (maybe you can make a dummy mega-record with all fields ?).

[2016-02-18 10:46] switowski commented on #80
As discussed with @tiborsimko , the best option is to create demosite inside invenio-marc21 package with a simple script to create demorecords (reuse the existing invenio scripts).

[2016-02-18 14:07] Kennethhole commented on #78
I'll try. I guess we have most of the fields, but it will most likely not include all subfields defined by LOC

[2016-02-18 14:47] Kennethhole commented on #78
How do you prefer to recieve the records?

[2016-02-18 14:53] switowski commented on #78
if it's just one record with all fields, you can paste it here

[2016-02-18 14:55] Kennethhole commented on #78
I have split it up intp the different headings you had. The first one comes now

bd01x09x.py:

[code]

[2016-02-18 15:20] switowski opened #83 "RFC: One big metadata MARC21 file for testing ?"
Hi,

@tiborsimko , @lnielsen, @egabancho during this sprint, we have gathered some example metadata from Zenodo, TIND and CDS. Do you think it makes sense to combine them in a one big record with all possible MARC21 fields (also including tags from those 6 records provided by @Kennethhole in https://github.com/inveniosoftware/dojson/pull/76/files) ?
Or should we create separate files for each sour

[2016-02-19 08:05] Kennethhole commented on #78
bd1xx.py:

[code]

bd20x24x.py:

[code]

bd3xx.py

[code]

bd4xx.py:

[code]

bd5xx.py:

[code]

bd6xx.py:

[code]

bd70x75x.py

[code]

bd80x83x.py

[code]

[2016-02-19 10:20] switowski commented on #78
Waiting for green light in https://github.com/inveniosoftware/dojson/issues/83 to merge all test data into one file.

[2016-02-19 11:04] Kennethhole commented on #78
Please see https://github.com/inveniosoftware/dojson/issues/39#issuecomment-179382406 for bd76x78x.py: data.

[2016-02-19 11:22] Kennethhole commented on #78
I have added all test data I can offer now.

[2016-02-19 11:34] tiborsimko commented on #83
What about having a folder with separate MARC test files testing separate things? E.g. a canonical example MARC record from LoC http://www.loc.gov/standards/marcxml/xml/collection.xml,  another canonical example of a book record or a video record, another example of a record with "interesting" subfield order that Tind found, etc.  In this way it'll be easier to maintain the test suite and enrich i

[2016-02-19 13:28] tiborsimko commented on #80
The separate `invenio-demosite` package had better be disposed of for Invenio 3 matters.  The demo site integration can be done inside `invenio` package, as is the case now.  If people install `invenio-marc21`, then they would simply have proper JSON Schema support, proper Elasticsearch mapping, and proper record templates installed so that their site would look nice.  (The "nice defaults" idea.)

[2016-02-19 13:41] tiborsimko commented on #78
Note that the Library of Congress itself provides example MARC records:
- http://www.loc.gov/marc/bibliographic/examples.html
- http://www.loc.gov/standards/marcxml/xml/collection.xml
- http://www.loc.gov/standards/marcxml/Sandburg/sandburg.xml

See also RDA examples:
- http://www.rdatoolkit.org/examples/MARC

One could imagine constructing one big "fake" record out of the RDA example values... Ho

[2016-02-22 10:56] aw-bib commented on #78
Featute-completeness is most likely the main issue here, I fear.

[2016-02-23 16:33] SamiHiltunen commented on #78
Test data provided by @Kennethhole is now part of #76.

[2016-02-24 07:28] switowski commented on #83
Hmm, strange, I thought I have answered here but my comment disappeared :(
I agree with you, it makes more sense to keep separate files if we want to test different use cases. I'm closing this issue.

[2016-02-24 07:28] #83 closed

[2016-02-24 10:16] switowski commented on #80
As @hachreak is already working on demo app in https://github.com/inveniosoftware/invenio-marc21 (with templates and possibly working search), I think we can close this issue.

[2016-02-24 10:16] #80 closed

[2016-02-24 10:25] switowski commented on #39
As the `order` function was introduced in PR#76 (https://github.com/inveniosoftware/dojson/pull/76/files#diff-f560fc9195fca169f37e7ca3582f6213R19), @Kennethhole, can we close this issue ?

[2016-02-24 12:33] SamiHiltunen commented on #39
`order` function maps the datafield orders. There are still problems with the subfield orderings. We should keep this still open.

[2016-02-26 13:11] switowski opened #84 "Write tests to JSON Schema"
**What we want**: Make sure that the JSON schema generated by DoJSON correctly matches the fields from the MARC21 test files. We don't want to miss any field.

**Problem**: JSON Schema's `additionalProperties` [is currently limited](http://spacetelescope.github.io/understanding-json-schema/reference/combining.html#allof) when used with `allOf` or `anyOf`. Thus we cannot use the JSON Schema as it i

[2016-02-26 13:28] switowski commented on #84
Either check if after importing data to ElasticSearch all data from MARCXML appears in ES or compare the MARCXML data with JSON schema and see if we are missing any fields.

:+1: for the second solution

[2016-02-29 08:38] switowski opened #85 "dojson: add mappings for bd84188x.py"
* [ ] Add mappings (based on documentation from: https://www.loc.gov/marc/bibliographic/)
* [ ] Add test examples (for each mapping, take the example data from LOC website. For example, if you go to this page:
https://www.loc.gov/marc/bibliographic/bd383.html
you will see lines like:
[code]
The idea is to convert those lines into MARCXML example data (don't do this by hand, write a script for that

[2016-02-29 08:51] switowski opened #86 "add mappings for bd80x83x.py"
* [ ] Add mappings (based on documentation from: https://www.loc.gov/marc/bibliographic/)
* [ ] Add test examples (for each mapping, take the example data from LOC website. For example, if you go to this page:
https://www.loc.gov/marc/bibliographic/bd383.html
you will see lines like:
[code]
The idea is to convert those lines into MARCXML example data (don't do this by hand, write a script for that

[2016-02-29 08:51] switowski opened #87 "add mappings for bd76x78x.py"
* [ ] Add mappings (based on documentation from: https://www.loc.gov/marc/bibliographic/)
* [ ] Add test examples (for each mapping, take the example data from LOC website. For example, if you go to this page:
https://www.loc.gov/marc/bibliographic/bd383.html
you will see lines like:
[code]
The idea is to convert those lines into MARCXML example data (don't do this by hand, write a script for that

[2016-02-29 08:52] switowski opened #88 "add mappings for bd70x75x.py"
* [ ] Add mappings (based on documentation from: https://www.loc.gov/marc/bibliographic/)
* [ ] Add test examples (for each mapping, take the example data from LOC website. For example, if you go to this page:
https://www.loc.gov/marc/bibliographic/bd383.html
you will see lines like:
[code]
The idea is to convert those lines into MARCXML example data (don't do this by hand, write a script for that

[2016-02-29 08:53] switowski opened #89 "add mappings for bd00x.py"
* [ ] Add mappings (based on documentation from: https://www.loc.gov/marc/bibliographic/)
* [ ] Add test examples (for each mapping, take the example data from LOC website. For example, if you go to this page:
https://www.loc.gov/marc/bibliographic/bd383.html
you will see lines like:
[code]
The idea is to convert those lines into MARCXML example data (don't do this by hand, write a script for that

[2016-02-29 08:53] switowski opened #90 "add mappings for bd01x09x.py"
* [ ] Add mappings (based on documentation from: https://www.loc.gov/marc/bibliographic/)
* [ ] Add test examples (for each mapping, take the example data from LOC website. For example, if you go to this page:
https://www.loc.gov/marc/bibliographic/bd383.html
you will see lines like:
[code]
The idea is to convert those lines into MARCXML example data (don't do this by hand, write a script for that

[2016-02-29 08:54] switowski opened #91 "add mappings for bd1xx.py"
* [ ] Add mappings (based on documentation from: https://www.loc.gov/marc/bibliographic/)
* [ ] Add test examples (for each mapping, take the example data from LOC website. For example, if you go to this page:
https://www.loc.gov/marc/bibliographic/bd383.html
you will see lines like:
[code]
The idea is to convert those lines into MARCXML example data (don't do this by hand, write a script for that

[2016-02-29 08:54] switowski opened #92 "add mappings for bd20x24x.py"
* [ ] Add mappings (based on documentation from: https://www.loc.gov/marc/bibliographic/)
* [ ] Add test examples (for each mapping, take the example data from LOC website. For example, if you go to this page:
https://www.loc.gov/marc/bibliographic/bd383.html
you will see lines like:
[code]
The idea is to convert those lines into MARCXML example data (don't do this by hand, write a script for that

[2016-02-29 08:54] switowski opened #93 "add mappings for bd25x28x.py"
* [ ] Add mappings (based on documentation from: https://www.loc.gov/marc/bibliographic/)
* [ ] Add test examples (for each mapping, take the example data from LOC website. For example, if you go to this page:
https://www.loc.gov/marc/bibliographic/bd383.html
you will see lines like:
[code]
The idea is to convert those lines into MARCXML example data (don't do this by hand, write a script for that

[2016-02-29 08:55] switowski opened #94 "add mappings for bd3xx.py"
* [ ] Add mappings (based on documentation from: https://www.loc.gov/marc/bibliographic/)
* [ ] Add test examples (for each mapping, take the example data from LOC website. For example, if you go to this page:
https://www.loc.gov/marc/bibliographic/bd383.html
you will see lines like:
[code]
The idea is to convert those lines into MARCXML example data (don't do this by hand, write a script for that

[2016-02-29 08:55] switowski opened #95 "add mappings for bd4xx.py"
* [ ] Add mappings (based on documentation from: https://www.loc.gov/marc/bibliographic/)
* [ ] Add test examples (for each mapping, take the example data from LOC website. For example, if you go to this page:
https://www.loc.gov/marc/bibliographic/bd383.html
you will see lines like:
[code]
The idea is to convert those lines into MARCXML example data (don't do this by hand, write a script for that

[2016-02-29 08:56] switowski opened #96 "add mappings for bd5xx.py"
* [ ] Add mappings (based on documentation from: https://www.loc.gov/marc/bibliographic/)
* [ ] Add test examples (for each mapping, take the example data from LOC website. For example, if you go to this page:
https://www.loc.gov/marc/bibliographic/bd383.html
you will see lines like:
[code]
The idea is to convert those lines into MARCXML example data (don't do this by hand, write a script for that

[2016-02-29 08:56] switowski opened #97 "add mappings for bd6xx.py"
* [ ] Add mappings (based on documentation from: https://www.loc.gov/marc/bibliographic/)
* [ ] Add test examples (for each mapping, take the example data from LOC website. For example, if you go to this page:
https://www.loc.gov/marc/bibliographic/bd383.html
you will see lines like:
[code]
The idea is to convert those lines into MARCXML example data (don't do this by hand, write a script for that

[2016-02-29 10:52] switowski opened #98 "Write script to get MARCXML examples from LOC website"
Parse the LOC websites and generate MARCXML data to test doJSON

[2016-02-29 15:38] switowski opened #99 "Update JSON schemas for the latest mappings"
As some doJSON mappings were updated, the JSON schemas also need to be updated.

[2016-03-01 10:30] switowski opened #101 "Mappings for field 880 from MARC21 standard"
The LOC specification for 880 seems to be very difficult (impossible?) to map to JSON in a reasonable manner (basically almost all the subfields can be mapped to `Same as associated field` JSON key, which doesn't make sense) :
[https://www.loc.gov/marc/bibliographic/bd880.html](https://www.loc.gov/marc/bibliographic/bd880.html)

Do we have any real life examples for those fields or is this fields

[2016-03-01 10:52] switowski commented on #78
After the example data from LOC is merger (PR from @SamiHiltunen ), this task can be closed as we have enough data for testing.

[2016-03-01 11:25] aw-bib commented on #101
It should occur mainly in multilingual catalogues where the languages catalogued use different scripts, so you can have a Latin transliteration of say Cyrillic or Chinese entities. From join² we do not have examples of this as we do not use it.

[2016-03-02 14:35] SamiHiltunen commented on #90
@switowski assign to me please and review the pull request when you have time

[2016-03-02 14:49] SamiHiltunen commented on #91
@switowski please assign to me and review the pull request

[2016-03-02 15:23] SamiHiltunen commented on #92
@switowski please assign to me and review pull request

[2016-03-02 15:44] SamiHiltunen commented on #93
@switowski please assign me and review the pull request

[2016-03-03 10:18] #98 closed

[2016-03-03 10:48] switowski commented on #78
Closing as we have plenty of test data right now.

[2016-03-03 10:48] #78 closed

[2016-03-03 13:01] #90 closed

[2016-03-04 07:31] #91 closed

[2016-03-04 12:30] #92 closed

[2016-03-04 12:30] #93 closed

[2016-03-04 12:30] #94 closed

[2016-03-04 12:56] #95 closed

[2016-03-07 06:49] tiborsimko commented on #84
Notes from live debate: now that MARC21 schemas are removed from `dojson` package to `invenio-marc21` package, this kind of testing may not fully belong here. What about creating a new package called `doschema` that could perform various schema-related checks and utility functions?  E.g. expand sub-schemas on the backend side, e.g. check compatibilities between schema versions (fields added/remove

[2016-03-07 07:39] #96 closed

[2016-03-07 09:11] nharraud commented on #84
@tiborsimko Ok, can you create the inveniosoftware repository please? I don't have the permissions and @Paulina1 already started working on the schema backward compatibility check.

[2016-03-07 09:30] tiborsimko commented on #84
Done, you can now clone the repository:
- https://github.com/inveniosoftware/doschema

BTW, we could perhaps think of using this repository for some Marshmallow  <-> JSON Schema synchronisation as well, if we shall keep on using [Marshmallow](http://marshmallow.readthedocs.org/en/latest/) for some publicly consumable JSON exports... CC @lnielsen

[2016-03-08 16:05] #97 closed

[2016-03-08 16:06] #88 closed

[2016-03-08 16:27] #87 closed

[2016-03-08 16:33] #86 closed

[2016-03-09 08:31] #85 closed

[2016-03-09 10:38] jirikuncar commented on #77
Issue moved to [inveniosoftware/invenio-marc21 #19](https://github.com/inveniosoftware/invenio-marc21/issues/19) via [**ZenHub.io**](https://www.zenhub.io/)

[2016-03-09 10:38] #77 closed

[2016-03-09 15:46] tiborsimko opened #117 "docs: section and talk cleanup"
As mentioned in https://github.com/inveniosoftware/dojson/pull/82#discussion_r55535570 we may want to clean the docs a bit, for example:

### 1. Better separate user-oriented talk and developer-oriented talk

E.g. in the Usage section, we say:

![2016-03-09-163635_2560x1440_scrot](https://cloud.githubusercontent.com/assets/517546/13640585/8540c3ac-e615-11e5-8540-482d16ebd3c8.png)

The user does no

[2016-03-11 09:21] #117 closed

[2016-03-11 09:30] jirikuncar commented on #84
JSONSchemas have been moved back.

[2016-03-14 09:23] SamiHiltunen commented on #89
This can probably be closed. The fields are tested and don't seem to need field maps.

[2016-03-14 10:12] #89 closed

[2016-03-15 14:38] jirikuncar commented on #99
Solved in v1.1.1.

[2016-03-15 14:38] #99 closed

[2016-05-03 09:05] lnielsen opened #142 "global: incompatible change released as patch version"
The change introduced in d3272c0b0e5cb2a62c801eb9f25a4a783940189f is a backward incompatible change (breaks code on Zenodo), so the change ought to have been release in a ``v1.3.0`` instead of ``v1.2.1``. Just logging the issue here for completeness

[2016-05-03 09:05] #142 closed

[2016-05-03 09:07] jirikuncar commented on #142
@lnielsen I'm sorry. This should have not been introduced in first place as it's not according to MARC21.

[2016-05-03 09:11] tiborsimko commented on #142
OT1H it's not nice to introduce an incompatible change in the patchlevel release, OTOH dojson v1.2.0 clearly misinterpreted the MARC standard originally, so that  d3272c0b0e5cb2a62c801eb9f25a4a783940189f could be considered a bug fix that has its place in the patchlevel release...

[2016-05-03 09:29] egabancho commented on #142
@lnielsen I'm sorry too. As @tiborsimko mentioned I considered it as a bug fix because according to MARC21 is a non-repeatable field https://www.loc.gov/marc/bibliographic/bd100.html

[2016-05-18 13:14] Panos512 opened #145 "Extreme CPU usage after updating to versions later than 1.0.1"
We have experienced extreme CPU usage on records insertion after updating the verion of dojson from `1.0.1` to `1.2.1`.

We pinpointed the problem and it occurs on all versions after 1.0.1.

On `1.0.1` for 100 records it takes 2.5 seconds :
Prun output: https://gist.github.com/kaplun/42d593e74f8b0821c6a3a754cdcfa6ae

On `1.2.1` for 100 records it takes 879 seconds:
Prun output: https://gist.github

[2016-05-19 07:50] jirikuncar commented on #145
Can you provide test data and you code for `bd1xx.py:79(authors)`?

##

You can try to get 1.0.1 behavior by setting `repeated=False` in https://github.com/inveniosoftware/dojson/blob/master/dojson/overdo.py#L141 and https://github.com/inveniosoftware/dojson/blob/master/dojson/contrib/to_marc21/model.py#L68.

[2016-05-19 13:42] tiborsimko commented on #145
Changing labels because _sensu stricto_ this is not a bug (=wrong behaviour), rather an enhancement request (=speed).

[2016-05-19 14:47] jirikuncar commented on #145
@Panos512 please try to create JSON from your MARCXML first and then run the conversion.

[code]

[2016-05-20 13:49] Panos512 commented on #145
Here is the authors code of our `bd1xx.py`:
https://github.com/inspirehep/inspire-next/blob/master/inspirehep/dojson/hep/fields/bd1xx.py#L33

And here is our `test data`:
https://github.com/inspirehep/inspire-next/blob/master/inspirehep/demosite/data/demo-records.xml.gz

I will inform you about inserting from converted json files soon.

[2016-05-23 14:36] Panos512 commented on #145
@jirikuncar Setting `repeated=False` did the trick. Is this helpful somehow to identify the problem?

[2016-05-23 14:48] jirikuncar commented on #145
The behavior with `repeated=True` is intended. You can write your own `marcxml` reader that returns `dict` instead of `GroupableOrderedDict`.

[2016-05-23 14:48] #145 closed

[2016-05-23 15:29] kaplun commented on #145
@jirikuncar to be sure we are fully understanding: do you mean that by using `dict` instead of `GroupableOrderedDict` in https://github.com/inveniosoftware/dojson/blob/master/dojson/contrib/marc21/utils.py#L85 (i.e. at the subfield level) is enough to fix our performance issues?

[2016-05-24 07:20] jirikuncar commented on #145
@kaplun It's more on top level (see my comment above https://github.com/inveniosoftware/dojson/issues/145#issuecomment-220347109).

[2016-05-24 08:03] SamiHiltunen commented on #39
This one is safe to close now? All the subfields should have field maps in place.

[2016-05-24 08:11] kaplun commented on #145
@jirikuncar can you clarify a bit more? I am not sure I am understanding.

Just to be clear in our usecase:
- our MARCXML use-case needs to preserve older of fields, but does not need to preserve order of subfields.
- we don't need the marc21 contrib, as we are not based on marc21

So, what do you exactly suggest us we should do in order not to have performance issues when using `dojson>1.0.1`?

[2016-05-24 08:25] kaplun opened #146 "When reporting missing rules, pass original blob to exception handler"
In https://github.com/inveniosoftware/dojson/blob/master/dojson/overdo.py#L163:
[code]

what about passing to `handler` also the original `blob` variable? In this way the handler would have the original input and would be able to output more detailed information (e.g. say it could retrieve an record ID).

[2016-05-24 12:53] #39 closed

[2016-05-24 12:54] jirikuncar commented on #145
No you can create your own `marcxml` loader that returns `dict`.

[2016-06-01 14:48] egabancho opened #150 "GroupableOrderedDict riases KeyError on empty values"
[code]

[2016-06-14 12:59] kaplun opened #154 "utils: force_list returns a tuple"
`utils.force_list()`, despite its name and docstring, actually returns a `tuple` or `None`.

A better implementation could be:
[code]

however then it would be necessary to amend `filter_values` to also filter away empty lists.

[2016-06-16 11:21] jirikuncar commented on #154
IMHO it should not be necessary to make list from tuple and set. Can you provide a code snippet where the current code is causing troubles?

[2016-06-16 14:55] kaplun commented on #154
It's not really trouble, but more a semantic issue where the name of the function doesn't correspond to its behavior.

In particular, see : https://github.com/inspirehep/inspire-next/pull/1070/files#diff-2dffa3ace57cdc6c5dabaa1d20b1fe6cR87

[2016-06-24 08:55] jirikuncar commented on #84
Good tests came via #143.

[2016-06-24 08:55] #84 closed

[2016-07-01 12:42] #150 closed

[2016-07-08 08:50] jirikuncar commented on #79
Closed via 4dbe7bb32f66d1a964a3c81655b6e2216eb84e9d.

[2016-07-08 08:50] #79 closed

[2016-07-12 14:08] kaplun opened #161 "utils: filter_values() is not GroupableOrderedDict aware"
Take this snippet:

[code]

Instead the correct result should have been:

[code]

[2016-07-12 15:43] kaplun opened #162 "utils: eval(repr(GroupableOrderedDict(...)) != GroupableOrderedDict(...)"
Currently:
[code]
instead I would expect:
[code]

See: https://docs.python.org/2/library/functions.html#repr

[2016-07-13 13:14] kaplun commented on #154
As reported in https://github.com/inveniosoftware/dojson/pull/155#discussion_r70614422 finally the best solution is just to amend the docstring.

[2016-07-13 14:20] #162 closed

[2016-07-13 20:23] kaplun opened #165 "RFC: default filter_values() behavior"
Problem
----------
Currently, `utils.filter_values()` is filtering away keys and corresponding values from dictionaries where `value is None`.

This concretely means, e.g. in the context of MARC21 conversion to JSON, that subfields with empty strings would be preserved, datafields with no subfields would be preserved.

Proposal
------------
If we assume that an empty string *in the bibliographic m

[2016-07-13 20:56] tiborsimko commented on #165
... in other words, do we want to support MARC21 records containing "empty fields" such as:

[code]

and "empty subfields" such as:

[code]

or do we want to always remove these empty fields/subfields?

CC @aw-bib @martinkoehler @fjorba @jma @basaglia

CC @inveniosoftware/triagers

[2016-07-14 08:17] aw-bib commented on #165
Just crosschecked with our librarians to be sure not to miss esotheric cases:
- Empty fields are not valid and should be removed
- Empty subfields are not valid and should be removed

As for TINDs comment: our librarians confirmed that e.g. Aleph allows to _load_ empty fields/subfields on ingestion of _external data_. (I.e. `bibupload` on the shell.) However, Alephs `bibedit` would remove any of t

[2016-07-19 11:23] kaplun commented on #165
OK. Given the above and:
- https://github.com/inveniosoftware/invenio/issues/1654
- https://github.com/inveniosoftware/dojson/pull/155#issuecomment-232406188

  I guess this we can re-consider the original #155 PR for inclusion (of course re-based)?

[2016-07-19 12:58] jirikuncar commented on #165
Then we should have a specific `filter_values` decorator just for MARC21. Or simply add new filter for command line that removes empty values.

[2016-07-19 13:03] kaplun commented on #165
Such as the general one we are using in INSPIRE? https://github.com/inspirehep/inspire-next/blob/master/inspirehep/dojson/utils/__init__.py#L245

[2016-08-01 09:57] tiborsimko commented on #165
Yes, I think we can close this RFC to say that empty values in fields/subfields should be "tolerated" on the input upload side, but that we can delete them internally as soon as we spot them.

[2016-08-15 12:16] zazasa opened #167 "utils: deepcopy() doesn't work on GroupableOrderedDict"
Look at this code:
[code]
It should depend on the override of the deepcopy function that does not accept the memo param: [link](https://github.com/inveniosoftware/dojson/blob/master/dojson/utils.py#L237)

[2016-08-22 20:17] kaplun opened #171 "RFC Passing original blob to rules"
When a rule based on a key A depends on the outcome of the execution of a rule based on a key B, then A depends on B. Currently there is no way to implement this.

I'd propose that the original object is passed inside `self` in a special key that is subsequently deleted.

[2016-08-23 09:52] jirikuncar commented on #171
@kaplun have you tried something like:

[code]

[2016-08-23 16:38] kaplun commented on #171
@jirikuncar I thought about something similar, but isn't it making writing rules more complex?

E.g. compare with:

[code]

[2016-08-31 14:33] tomaszgy opened #173 "Post-do functions"
### Proposal
It is proposed to add to doJSON a new feature: **the post-do functions** which would be called after conversion a document from XML to JSON (after processing all related elements in XML).

### Why?
Two use cases from Inspire:

I
After every conversion from MARC to JSON we use our util function called `clean_record` to strip empty values from the record and also remove duplicate elemen

[2016-08-31 14:54] jirikuncar commented on #173
@tomaszgy can you provide an example of a definition and usage of such functions?

Are you aware that you can define your own CLI processor (see a [simple example](https://github.com/inveniosoftware/dojson/blob/master/dojson/cli/command.py#L53-L63)) and use [command chaining](http://pythonhosted.org/dojson/usage.html#module-dojson.cli).

[2016-09-01 11:19] tomaszgy commented on #173
@jirikuncar, sure.

Please see the [definition](https://github.com/inspirehep/inspire-next/blob/master/inspirehep/dojson/utils/__init__.py#L234) and few examples of usage ([1](https://github.com/inspirehep/inspire-next/blob/ef45a2dc90b964a76c0a7c70dfa3bc260f3c3615/inspirehep/dojson/processors.py#L42), [2](https://github.com/inspirehep/inspire-next/blob/3b9d7193c0c1e9f81198165776046f108966ccbd/test

[2016-09-01 12:11] jirikuncar commented on #173
I'm sorry I just don't get the example. It looks like standard function chaining that doesn't require any change in DoJSON API.

[2016-09-01 12:26] jacquerie commented on #173
Sure, chaining functions works, but it adds boilerplate in tests and wherever one uses a DoJSON conversion.

What @tomaszgy is asking is a single point where we define a series of functions that are automatically run in succession when a certain set of DoJSON rules has finished executing. It doesn't require a change in the API, it is an extra feature that we would have liked while writing several

[2016-09-01 13:03] jirikuncar commented on #173
@tomaszgy @jacquerie I would recommend you to subclass `Overdo.do` method.

[2016-09-01 13:03] jirikuncar commented on #173
@tomaszgy @jacquerie I would recommend you to subclass `Overdo.do` method.

[2016-09-01 13:39] jirikuncar commented on #171
@kaplun the complexity seems similar. One has to understand that there is a dependency between fields and `execute_after_A_and_B` makes it IMHO more explicit.

[2016-09-16 08:07] jacquerie commented on #173
If anybody else needs this feature, here's a way to build it: https://github.com/inspirehep/inspire-next/blob/d1c1f1d0edb4a404eb9ebf358c2ef57b6932260a/inspirehep/dojson/model.py and here's a way to use it: https://github.com/inspirehep/inspire-next/blob/d1c1f1d0edb4a404eb9ebf358c2ef57b6932260a/inspirehep/dojson/conferences/model.py.

[2016-09-16 08:45] #173 closed

[2016-09-22 12:43] #167 closed

[2016-09-23 12:02] tiborsimko commented on #171
@kaplun @jacquerie Shall I deduce from your thumbs-up that @jirikuncar's proposal works well for you? If so, let's close this issue.

P.S. Personally to me it looks much cleaner to use a `execute_after_...` technique rather than introducing blobs and using conditions for Bs that weren't explicitly specified in overdo...

[2016-09-23 12:14] jacquerie commented on #171
We worked around this issue using the approach outlined in https://github.com/inveniosoftware/dojson/issues/173#issuecomment-247542655.

[2016-09-23 12:14] #171 closed

[2016-09-29 13:47] blixhavn commented on #154
What's the conclusion on this? Do we make a PR to amend the docstring?

[2016-09-29 13:55] kaplun commented on #154
In INSPIRE we have implemented a util called `force_force_list()`:
https://github.com/inspirehep/inspire-next/blob/master/inspirehep/utils/helpers.py#L68

So IMHO it's OK to go either way.

[2016-09-29 15:50] #154 closed

[2016-09-30 12:00] blixhavn opened #181 "044 (NR) is treated as repeatable"
In the conversion function for MARC 044, it is decorated with `@utils.for_each_value`, treating it as a repeatable field. This breaks the to_marc conversion function, which rightly assumes it is not repeatable.

[2016-10-03 15:47] #181 closed

[2017-03-09 13:42] dinosk opened #189 "Duplicate fields in bibliographic MARC21 json schemas"
The populate-instance.sh script in invenio installation guide crashes due to using an old bd-v1.0.0.json. Updating it to b2-v1.0.2.json fails in the invenio records create command because there are duplicate fields for [access_method](https://github.com/inveniosoftware/dojson/blob/master/dojson/contrib/marc21/schemas/marc21/bibliographic/bd84188x-v1.0.1.json#L169)  and [source_of_code](https://git

[2017-03-10 07:58] #189 closed

[2017-03-23 16:27] aw-bib commented on #35
BTW: this tag would be a very useful alternative field name for the upcoming json editor.

[2017-03-23 16:29] aw-bib commented on #35
ping @tiborsimko / @jmartinm IUGW2017

[2017-08-01 08:35] switowski opened #194 "RFC is 'Undo' still experimental"
Due to https://github.com/inveniosoftware/dojson/blob/master/dojson/contrib/to_marc21/model.py#L21 we get the following warnings:
[code]

Is this feature still experimental? Should we remove the warning? I see that it's used on Zenodo:
https://github.com/zenodo/zenodo/blob/master/zenodo/modules/records/serializers/to_marc21/model.py#L33
and on CDS it was recently removed:
https://github.com/CERNDo

[2017-08-01 09:34] lnielsen commented on #194
Let's remove the warning. It's used in extensively in production and it might be that it will need changes in the future, but it's not helpful to see the error message every single time you run. The same can be singled in the documentation and via version numbers.

[2017-08-01 09:34] egabancho commented on #194
cc @blixhavn

[2017-08-04 15:22] #194 closed

[2017-08-04 19:11] lnielsen opened #196 "global: make new release"

[2017-08-07 11:58] #196 closed

[2017-08-09 07:17] blixhavn commented on #194
I agree with Lars. We've never had any problems with the undo feature (sorry about the delay, I was on vacation).

[2017-11-21 10:04] #161 closed

[2018-01-17 19:10] david-caro opened #198 "utils.marc21.create_record does not support partial records"
When creating records, and passing just a snippet of the xml, that is, xml without the `<record>..</record>` tags, you get a partial response, missing some of the nodes of the xml, for example:

[code]

I'm not sure if this is actually an issue, as I'm not sure if having the 'record' tags is a must though. But we were using it to test snippets of code and found that issue :/

[2018-01-17 19:18] david-caro commented on #198
So @michamos just explained this to me, it turns out that valid xml must have only one unique root tag, so the xml without the 'record' entry and several 'datafield' ones, is not really valid xml.

[2020-05-03 06:01] lnielsen opened #201 "tests: remove python 2.7 support and fix broken tests"
See [travis errors](https://travis-ci.org/github/inveniosoftware/dojson). Seems like simple documentation formatting issues.

[2020-05-06 08:57] ppanero opened #203 "release 1.4.1"

[2020-05-07 06:55] #201 closed

[2020-05-07 06:55] #203 closed

[2020-12-04 10:32] avivace opened #204 "global: migration to github-actions from travis"

[2020-12-08 08:52] ParthS007 opened #205 "Fix Pycodestyle and Pydocstyle errors"

[2020-12-09 10:24] #204 closed